<div class="row">
	<div class="col-md-2">
		<%= image_tag @technician.avatar.url(:medium), :class => 'img-circle border' %>
	</div>
	<div class="col-md-10 user-info">
		<strong><%= @technician.full_name %></strong>
		<br>
		<%= @technician.email %>
		<br>
		<% if @technician == @current_technician %>
			<%= link_to 'Edit technician', edit_technician_path(@technician), :class => 'btn btn-default btn-xs' %>
		<% end %>
	</div>
</div>

<div class="row">&nbsp;</div>

<div class="row col-md-12 back-btn">
	<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> back'.html_safe, technicians_url %>
</div>	