<!-- Tabbed Navigation !-->
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#new"><span class="glyphicon glyphicon-flag"></span>&nbsp; New</span></a></li>
  <li><a href="#open"><span class="glyphicon glyphicon-folder-open"></span>&nbsp; Open</span></a></li>
  <li><a href="#closed"><span class="glyphicon glyphicon-folder-close"></span>&nbsp; Closed</a></li>
</ul>

<!-- Search Box -> Add Ticket Button !-->
<div class="list-group-item list-group-item-set-height">
	<%= form_tag purchases_path, :method => 'get', :id => "purchases_search" do %>
		<%= text_field_tag :search, params[:search], :autocomplete => 'off', :placeholder => 'Search Purchases...' %>
  <div class="pull-right"><%= link_to '<span class="glyphicon glyphicon-plus-sign add-ticket"></span>'.html_safe, new_purchase_path %></div>    	
</div>

<div class="tab-content">
<!-- Tab Content "My Tickets" !-->
  <div class="tab-pane active" id="new">
	  <% @new.each do |purchase| %>
	    <%= render "purchase", :purchase => purchase %>
    <% end %>
  </div>
  

<!-- Tab Content "Active" !-->
  <div class="tab-pane" id="open">
	  <% @open.each do |purchase| %>
	    	<%= render "purchase", :purchase => purchase %>
    <% end %>
  </div>
  
<!-- Tab Content "Inactive" !-->
  <div class="tab-pane" id="closed">
	  <% @closed.each do |purchase| %>
	    	<%= render "purchase", :purchase => purchase %>
    <% end %>
  <!-- Pagination !-->  
  <%= will_paginate @closed %>
  </div>
  
  <% end %>
  
</div>

<!-- Javascript for persistant tabs !-->
<script>
	// cache the id
	var navbox = $('#myTab');
	// activate tab on click
	navbox.on('click', 'a', function (e) {
  	var $this = $(this);
		// prevent the Default behavior
		e.preventDefault();
		// set the hash to the address bar
		window.location.hash = $this.attr('href');
		// activate the clicked tab
		$this.tab('show');
	})

	// if we have a hash in the address bar
	if(window.location.hash){
  	// show right tab on load (read hash from address bar)
		navbox.find('a[href="'+window.location.hash+'"]').tab('show');
	}
</script>