<!-- Tabbed Navigation !-->
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#my_tickets"><span class="glyphicon glyphicon-tags"></span>&nbsp; My Tickets</span></a></li>
  <li><a href="#active"><span class="glyphicon glyphicon-time"></span>&nbsp; Active &nbsp;<span class="badge new-tickets-badge"><%= @new_tickets.count if @new_tickets.count > 0 %></span></a></li>
  <li><a href="#inactive"><span class="glyphicon glyphicon-inbox"></span>&nbsp; Inactive</a></li>
</ul>

<!-- Tab Content "My Tickets" !-->
<div class="tab-content">
  <div class="tab-pane active" id="my_tickets">
    <div class="list-group-item list-group-item-set-height">
    	Search My Tickets...
    	<div class="pull-right"><%= link_to '<span class="glyphicon glyphicon-plus-sign add-ticket"></span>'.html_safe, new_ticket_path %></div>
    </div>
	  <% @my_tickets.each do |ticket| %>
	    	<%= render "ticket", :ticket => ticket %>
    <% end %>
  </div>
  

<!-- Tab Content "Active" !-->
  <div class="tab-pane" id="active">
    <div class="list-group-item list-group-item-set-height">
    	Search My Tickets...
    	<div class="pull-right"><%= link_to '<span class="glyphicon glyphicon-plus-sign add-ticket"></span>'.html_safe, new_ticket_path %></div>
    </div>
	  <% @active_tickets.each do |ticket| %>
	    	<%= render "ticket", :ticket => ticket %>
    <% end %>
  </div>
  
<!-- Tab Content "Inactive" !-->
  <div class="tab-pane" id="inactive">
  	<div class="list-group-item list-group-item-set-height">
    	Search My Tickets...
    	<div class="pull-right"><%= link_to '<span class="glyphicon glyphicon-plus-sign add-ticket"></span>'.html_safe, new_ticket_path %></div>
    </div>
	  <% @inactive_tickets.each do |ticket| %>
	    	<%= render "ticket", :ticket => ticket %>
    <% end %>
  </div>
  <%= will_paginate @inactive_tickets %>
  
</div>

<script>
	// cache the id
	var navbox = $('#myTab');
	// activate tab on click
	navbox.on('click', 'a', function (e) {
  	var $this = $(this);
		// prevent the Default behavior
		e.preventDefault();
		// set the hash to the address bar
		window.location.hash = $this.attr('href');
		// activate the clicked tab
		$this.tab('show');
	})

	// if we have a hash in the address bar
	if(window.location.hash){
  	// show right tab on load (read hash from address bar)
		navbox.find('a[href="'+window.location.hash+'"]').tab('show');
	}
</script>