<!-- Tabbed Navigation !-->
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#my_tickets"><span class="glyphicon glyphicon-tags"></span>&nbsp; My Tickets</span></a></li>
  <li><a href="#active"><span class="glyphicon glyphicon-time"></span>&nbsp; Active</a></li>
  <li><a href="#inactive"><span class="glyphicon glyphicon-inbox"></span>&nbsp; Inactive</a></li>
</ul>

<!-- Tab Content "My Tickets" !-->
<div class="tab-content">
  <div class="tab-pane active" id="my_tickets">
    <div class="list-group-item list-group-item-set-height">
    	Search My Tickets...
    	<div class="pull-right"><%= link_to '<span class="glyphicon glyphicon-plus-sign add-ticket"></span>'.html_safe, new_ticket_path %></div>
    </div>
	  <% @my_tickets.each do |ticket| %>
	  	<div class="list-group-item list-group-item-hover">
	    	<%= render "ticket", :ticket => ticket %>
      </div>
    <% end %>
  </div>

<!-- Tab Content "Active" !-->
  <div class="tab-pane" id="active">
    <div class="list-group-item list-group-item-set-height">
    	Search My Tickets...
    	<div class="pull-right"><%= link_to '<span class="glyphicon glyphicon-plus-sign add-ticket"></span>'.html_safe, new_ticket_path %></div>
    </div>
	  <% @active_tickets.each do |ticket| %>
	  	<div class="list-group-item list-group-item-hover">
	    	<%= render "ticket", :ticket => ticket %>
      </div>
    <% end %>
  </div>
  
<!-- Tab Content "Inactive" !-->
  <div class="tab-pane" id="inactive">
  	<div class="list-group-item list-group-item-set-height">
    	Search My Tickets...
    	<div class="pull-right"><%= link_to '<span class="glyphicon glyphicon-plus-sign add-ticket"></span>'.html_safe, new_ticket_path %></div>
    </div>
	  <% @inactive_tickets.each do |ticket| %>
	  	<div class="list-group-item list-group-item-hover">
	    	<%= render "ticket", :ticket => ticket %>
      </div>
    <% end %>
  </div>
  
</div>

<script>
  $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>