<div class="col-md-12">
	<span class="title">
		<% if @ticket.id < 10 %>
			00<%= @ticket.id %>
		<% elsif @ticket.id >= 10 and @ticket.id < 100 %>
			0<%= @ticket.id %>
		<% else %>
			<%= @ticket.id %>
		<% end %>
		- <%= @ticket.title %>
	</span>
	
	<% if @ticket.priority == true %><span class="priority-show">Priority</span><% end %>
	
	<% if @ticket.status == "not started" %>
		<span class="label label-danger label-show"><%= @ticket.status %></span>
	<% elsif @ticket.status == "in progress" %>
		<span class="label label-success label-show"><%= @ticket.status %></span>
	<% elsif @ticket.status == "parts hold" %>
		<span class="label label-info label-show"><%= @ticket.status %></span>
	<% elsif @ticket.status == "client wait" %>
		<span class="label label-primary label-show"><%= @ticket.status %></span>
	<% elsif @ticket.status == "done" %>
		<span class="label label-default label-show"><%= @ticket.status %></span>
	<% end %>
	
	<% @ticket.technicians.each do |technician| %>
		<%= link_to image_tag(technician.avatar.url(:thumb), :class => 'img-circle border-show'), technician_url(technician) %>
	<% end %>
	
	<br>

<% if @ticket.deadline.nil? %>
<% else %>
	<% if @ticket.deadline < Date.today %>
		<span class="past-due">
			Deadline: <%= @ticket.deadline.to_s(:short) %>
		</span>
	<% else %>
		<span class="deadline">
			Deadline: <%= @ticket.deadline.to_s(:short) %>
		</span>
	<% end %>
<% end %>
</div>

<div class="col-md-12">
	<% if @ticket.user %>
		<%= link_to user_path(@ticket.user) do %>
			<%= render "users/user_tickets" %>
		<% end %>
	<% end %>
</div>

<div class="row">
	<div class="col-md-5"><hr></div>
</div>

<div class="col-md-12">
	<% if @ticket.attachments %>
		<% @ticket.assets.each do |asset| %>
			<%= render "assets/asset_tickets", :asset => asset  %>
		<% end %>
		<% else %>
			No asset assigned
	<% end %>
</div>

<div class="row col-md-12 description">Ticket Description:</div>
<div class="well well-sm col-md-9"><%= @ticket.description %></div>

<div class="row col-md-12 edit-btn">
	<%= link_to 'Edit Ticket', edit_ticket_path(@ticket), :class => 'btn btn-default' %>
</div>

<div class="row col-md-12 back-btn">
	<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> back'.html_safe, root_url %>
</div>	
	
<div class="row col-md-12 description">Comments:</div>
<div class="row">&nbsp;</div>
	<%= render "comments/form" %>
<div class="row">
	<div class="col-md-9">&nbsp;</div>
</div>
	<%= render "comments/comments" %>