	<div class="Ticket">
		<ul class="properties">
			<li>Assigned Technicians:</li>
			<ul>
				<% @ticket.technicians.each do |technician| %>
				<li>
					<%= technician.full_name %>
				</li>
				<% end %>
			</ul>
			<li>User: <%= @ticket.user.full_name %></li>
			<li>Asset Tag Number: <%= @ticket.asset.tag_number %></li>
			<li>Title: <%= @ticket.title %></li>
			<li>Description: <%= @ticket.description %></li>
			<li>Status: <%= @ticket.status %></li>
			<li>Deadline: <%= @ticket.deadline %></li>
			<li>
				Priority?: 
				<% if @ticket.priority == true %>
					Yes
				<% else %>
					No
				<% end %>
			</li>
			<li><%= link_to 'Edit', edit_ticket_path(@ticket) %></li>
		</ul>
	</div>
	
	<%= link_to 'Back', root_url %>
	
	
	<h2>Comments</h2>
	<%= render "comments/form" %>
	<%= render "comments/comments" %>