<h2> All Software Titles </h2>

<%= link_to "Add a new software title", new_software_url %>

<br><br>

<% @software_list.order('title ASC').each do |software| %>
	<div class="software">
		<ul class="details">
			<li>Title: <%= software.title %></li>
			<li>Version Number: <%= software.version_number %></li>
			<li>Manufacturer: <%= software.manufacturer %></li>
			<li>License Type: <%= software.license_type %></li>
			<li>License Number: <%= software.license_number %></li>
			<li><%= link_to 'Show', software_path(software) %></li>
			<li><%= link_to 'Edit', edit_software_path(software) %></li>
			
		</ul>
	</div>
<% end %>