<div class="row">
	<div class="col-md-12 user-info">
		<strong><%= @software.manufacturer %> <%= @software.title %> <%= @software.version_number %></strong>
		<br>
		<%= @software.license_type %><% if @software.license_number.present? %>: <%= @software.license_number %><% end %>
		<br>
		<%= link_to 'Edit software title', edit_software_path(@software), :class => 'btn btn-default btn-xs' %>
	</div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row col-md-12 back-btn">
	<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> back'.html_safe, softwares_url %>
</div>	