<h2> New Asset </h2>

<%= form_for @asset do |f| %>
	<% if @asset.errors.any? %>
		<div id='errorExplaination'>
			<h2><%= pluralize(@asset.errors.count, "error") %> prohibited this user from being saved:</h2>
			<ul>
			<% @asset.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
		
		<%= f.label :tag_number, "Asset Tag Number" %>
		<%= f.text_field :tag_number %>
		<br>
		<%= f.label :asset_type, "Asset Type" %>
		<%= f.text_field :asset_type %>
		<br>
		<%= f.label :asset_name, "Asset Name" %>
		<%= f.text_field :asset_name %>
		<br>
		<%= f.label :model, "Model" %>
		<%= f.text_field :model %>
		<br>
		<%= f.label :serial_number, "Serial Number" %>
		<%= f.text_field :serial_number %>
		<br>
		<%= f.label :manufacturer, "Manufacturer" %>
		<%= f.text_field :manufacturer %>
		<br>
		<%= f.label :mac_address1, "Mac Address (Ethernet 1)" %>
		<%= f.text_field :mac_address1 %>
		<br>
		<%= f.label :mac_address2, "Mac Address (Ethernet 2)" %>
		<%= f.text_field :mac_address2 %>
		<br>
		<%= f.label :mac_address3, "Mac Address (Wi-Fi)" %>
		<%= f.text_field :mac_address2 %>
		<br>
		<%= f.label :description, "Description" %>
		<%= f.text_field :description %>
		<br>
		<%= f.label :notes, "Notes" %>
		<%= f.text_field :notes %>
		<br>
		<%= f.label :other, "Other" %>
		<%= f.text_field :other %>
		<br>
		<%= f.submit "Save Asset" %>
<% end %>

<%= link_to "back", assets_url %>