<div class="row">
	<div class="col-md-2">
		<% if @asset.asset_type == "Apple Laptop" %>
					<img class="img-circle border" src="/images/asset_types/medium/apple_laptop.png">
				<% elsif @asset.asset_type == "Apple Desktop" %>
					<img class="img-circle border" src="/images/asset_types/medium/apple_desktop.png">
				<% elsif @asset.asset_type == "Windows Laptop" %>
					<img class="img-circle border" src="/images/asset_types/medium/windows_laptop.png">
				<% elsif @asset.asset_type == "Windows Desktop" %>
					<img class="img-circle border" src="/images/asset_types/medium/windows_desktop.png">
				<% elsif @asset.asset_type == "iPad" %>
					<img class="img-circle border" src="/images/asset_types/medium/ipad.png">
				<% elsif @asset.asset_type == "Windows Tablet" %>
					<img class="img-circle border" src="/images/asset_types/medium/windows_tablet.png">
				<% elsif @asset.asset_type == "iPod" %>
					<img class="img-circle border" src="/images/asset_types/medium/ipod.png">
				<% elsif @asset.asset_type == "Monitor" %>
					<img class="img-circle border" src="/images/asset_types/medium/monitor.png">
				<% elsif @asset.asset_type == "External HDD" %>
					<img class="img-circle border" src="/images/asset_types/medium/external_hdd.png">
				<% elsif @asset.asset_type == "Server" %>
					<img class="img-circle border" src="/images/asset_types/medium/server.png">
				<% elsif @asset.asset_type == "Linux PC" %>
					<img class="img-circle border" src="/images/asset_types/medium/linux_pc.png">
				<% elsif @asset.asset_type == "Apple TV" %>
					<img class="img-circle border" src="/images/asset_types/medium/apple_tv.png">
				<% elsif @asset.asset_type == "Camera" %>
					<img class="img-circle border" src="/images/asset_types/medium/camera.png">
				<% elsif @asset.asset_type == "Loud Speakers" %>
					<img class="img-circle border" src="/images/asset_types/medium/loud_speakers.png">
				<% elsif @asset.asset_type == "Projector" %>
					<img class="img-circle border" src="/images/asset_types/medium/projector.png">
				<% elsif @asset.asset_type == "Television" %>
					<img class="img-circle border" src="/images/asset_types/medium/television.png">
				<% elsif @asset.asset_type == "Video Equiptment" %>
					<img class="img-circle border" src="/images/asset_types/medium/video_equiptment.png">
				<% elsif @asset.asset_type == "Printer" %>
					<img class="img-circle border" src="/images/asset_types/medium/printer.png">
				<% elsif @asset.asset_type == "Network Device" %>
					<img class="img-circle border" src="/images/asset_types/medium/network_device.png">
				<% end %>
	</div>
	<div class="col-md-10 user-info">
		<strong><%= @asset.asset_type %> <%= @asset.tag_number %> (<%= @asset.asset_name %>)</strong> 
		<br>
		User: <%= @asset.user.full_name %> | Location: <%= @asset.location %>
	</div>
	<div class="col-md-10 col-md-offeset-2">
	<div class="row">&nbsp;</div>
		<blockquote>
				<ul>
					<li>Model: <strong><%= @asset.model %></strong></li>
					<li>Serial Number: <strong><%= @asset.serial_number %></strong></li>
					<li>Manufacturer: <strong><%= @asset.manufacturer %></strong></li>
					<% if @asset.mac_address1.present? %>
						<li>Mac Address (Wifi): <strong><%= @asset.mac_address1 %></strong></li>
					<% end %>
					<% if @asset.mac_address2.present? %>
						<li>Mac Address (Ethernet 1): <strong><%= @asset.mac_address2 %></strong></li>
					<% end %>
					<% if @asset.mac_address3.present? %>
						<li>Mac Address (Ethernet 2): <strong><%= @asset.mac_address3 %></strong></li>
					<% end %>
					<li>Description: <strong><%= @asset.description %></strong></li>
				</ul>
				<% if @asset.notes.present? %>
					<strong>Notes:</strong><br>
					<div class="well well-sm col-md-8"><%= @asset.notes %></div>
				<% end %>
			</blockquote>
			<div class="row">&nbsp;</div>
			<div class="row col-md-10"><%= link_to 'Edit Asset', edit_asset_path(@asset), :class => 'btn btn-default btn-xs' %></div>
	</div>
</div>

<hr class="user-hr">

<% if @asset.softwares.present? %>
	<h4>Installed Software:</h4>	
	<% @asset.softwares.each do |software| %>
		<ul>
			<li><%= software.title %> <%= software.version_number %></li>
		</ul>
	<% end %>
<% end %>
	
	
<div class="row col-md-12 back-btn">
	<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> back'.html_safe, assets_url %>
</div>	
	
<div class="row col-md-12 description">Comments:</div>
<div class="row">&nbsp;</div>
	<%= render "comments/form" %>
<div class="row">
	<div class="col-md-9">&nbsp;</div>
</div>
	<%= render "comments/comments" %>





<h4>Audit Trail</h4>	
		<% unless @asset.versions[-1].nil? or @asset.versions[-1].object.nil? %>
		Asset Modified by <%= @asset.versions[-1].whodunnit %> on <%= @asset.versions[-1].created_at %>
		<ul>
			<% unless @asset.versions[-1].reify.location == @asset.location %>
				<li>Asset relocated from <%= @asset.versions[-1].reify.location %> to <%= @asset.location %></li>
			<% end %>
			<% unless @asset.versions[-1].reify.user.full_name == @asset.user.full_name %>
				<li>Asset reassigned from <%= @asset.versions[-1].reify.user.full_name %> to <%= @asset.user.full_name %></li>
			<% end %>
			<% unless @asset.versions[-1].reify.asset_name == @asset.asset_name %>
				<li>Asset renamed from <%= @asset.versions[-1].reify.asset_name %> to <%= @asset.asset_name %></li>
			<% end %>
			<% unless @asset.versions[-1].reify.serial_number == @asset.serial_number %>
				<li>Serial number changed from <%= @asset.versions[-1].reify.serial_number %> to <%= @asset.serial_number %></li>
			<% end %>
			<% unless @asset.versions[-1].reify.mac_address1 == @asset.mac_address1 %>
				<li>Mac Address (Ethernet 1) from <%= @asset.versions[-1].reify.mac_address1 %> to <%= @asset.mac_address1 %></li>
			<% end %>
			<% unless @asset.versions[-1].reify.mac_address2 == @asset.mac_address2 %>
				<li>Mac Address (Ethernet 2) from <%= @asset.versions[-1].reify.mac_address2 %> to <%= @asset.mac_address2 %></li>
			<% end %>
			<% unless @asset.versions[-1].reify.mac_address3 == @asset.mac_address3 %>
				<li>Mac Address (Wi-Fi) from <%= @asset.versions[-1].reify.mac_address3 %> to <%= @asset.mac_address3 %></li>
			<% end %>
		</ul>
		<% end %>
		
		<% unless @asset.versions[-2].nil? or @asset.versions[-2].object.nil? %>
		Asset Modified by <%= @asset.versions[-2].whodunnit %> on <%= @asset.versions[-2].created_at %>
		<ul>
			<% unless @asset.versions[-2].reify.location == @asset.versions[-1].reify.location %>
				<li>Asset relocated from <%= @asset.versions[-2].reify.location %> to <%= @asset.versions[-1].reify.location %></li>
			<% end %>
			<% unless @asset.versions[-2].reify.user.full_name == @asset.versions[-1].reify.user.full_name %>
				<li>Asset reassigned from <%= @asset.versions[-2].reify.user.full_name %> to <%= @asset.versions[-1].reify.user.full_name %></li>
			<% end %>
			<% unless @asset.versions[-2].reify.asset_name == @asset.versions[-1].reify.asset_name %>
				<li>Asset renamed from <%= @asset.versions[-2].reify.asset_name %> to <%= @asset.versions[-1].reify.asset_name %></li>
			<% end %>
			<% unless @asset.versions[-2].reify.serial_number == @asset.versions[-1].reify.serial_number %>
				<li>Serial number changed from <%= @asset.versions[-2].reify.serial_number %> to <%= @asset.versions[-1].reify.serial_number %></li>
			<% end %>
			<% unless @asset.versions[-2].reify.mac_address1 == @asset.versions[-1].reify.mac_address1 %>
				<li>Mac Address (Ethernet 1) from <%= @asset.versions[-2].reify.mac_address1 %> to <%= @asset.versions[-1].reify.mac_address1 %></li>
			<% end %>
			<% unless @asset.versions[-2].reify.mac_address2 == @asset.versions[-1].reify.mac_address2 %>
				<li>Mac Address (Ethernet 2) from <%= @asset.versions[-2].reify.mac_address2 %> to <%= @asset.versions[-1].reify.mac_address2 %></li>
			<% end %>
			<% unless @asset.versions[-2].reify.mac_address3 == @asset.versions[-1].reify.mac_address3 %>
				<li>Mac Address (Wi-Fi) from <%= @asset.versions[-2].reify.mac_address3 %> to <%= @asset.versions[-1].reify.mac_address3 %></li>
			<% end %>
		</ul>
		<% end %>
		
		<% unless @asset.versions[-3].nil? or @asset.versions[-3].object.nil? %>
		Asset Modified by <%= @asset.versions[-3].whodunnit %> on <%= @asset.versions[-3].created_at %>
		<ul>
			<% unless @asset.versions[-3].reify.location == @asset.versions[-2].reify.location %>
				<li>Asset relocated from <%= @asset.versions[-3].reify.location %> to <%= @asset.versions[-2].reify.location %></li>
			<% end %>
			<% unless @asset.versions[-3].reify.user.full_name == @asset.versions[-2].reify.user.full_name %>
				<li>Asset reassigned from <%= @asset.versions[-3].reify.user.full_name %> to <%= @asset.versions[-2].reify.user.full_name %></li>
			<% end %>
			<% unless @asset.versions[-3].reify.asset_name == @asset.versions[-2].reify.asset_name %>
				<li>Asset renamed from <%= @asset.versions[-3].reify.asset_name %> to <%= @asset.versions[-2].reify.asset_name %></li>
			<% end %>
			<% unless @asset.versions[-3].reify.serial_number == @asset.versions[-2].reify.serial_number %>
				<li>Serial number changed from <%= @asset.versions[-3].reify.serial_number %> to <%= @asset.versions[-2].reify.serial_number %></li>
			<% end %>
			<% unless @asset.versions[-3].reify.mac_address1 == @asset.versions[-2].reify.mac_address1 %>
				<li>Mac Address (Ethernet 1) from <%= @asset.versions[-3].reify.mac_address1 %> to <%= @asset.versions[-2].reify.mac_address1 %></li>
			<% end %>
			<% unless @asset.versions[-3].reify.mac_address2 == @asset.versions[-2].reify.mac_address2 %>
				<li>Mac Address (Ethernet 2) from <%= @asset.versions[-3].reify.mac_address2 %> to <%= @asset.versions[-2].reify.mac_address2 %></li>
			<% end %>
			<% unless @asset.versions[-3].reify.mac_address3 == @asset.versions[-2].reify.mac_address3 %>
				<li>Mac Address (Wi-Fi) from <%= @asset.versions[-3].reify.mac_address3 %> to <%= @asset.versions[-2].reify.mac_address3 %></li>
			<% end %>
		</ul>
		<% end %>
		
		<% unless @asset.versions[-4].nil? or @asset.versions[-4].object.nil? %>
		Asset Modified by <%= @asset.versions[-4].whodunnit %> on <%= @asset.versions[-4].created_at %>
		<ul>
			<% unless @asset.versions[-4].reify.location == @asset.versions[-3].reify.location %>
				<li>Asset relocated from <%= @asset.versions[-4].reify.location %> to <%= @asset.versions[-3].reify.location %></li>
			<% end %>
			<% unless @asset.versions[-4].reify.user.full_name == @asset.versions[-3].reify.user.full_name %>
				<li>Asset reassigned from <%= @asset.versions[-4].reify.user.full_name %> to <%= @asset.versions[-3].reify.user.full_name %></li>
			<% end %>
			<% unless @asset.versions[-4].reify.asset_name == @asset.versions[-3].reify.asset_name %>
				<li>Asset renamed from <%= @asset.versions[-4].reify.asset_name %> to <%= @asset.versions[-3].reify.asset_name %></li>
			<% end %>
			<% unless @asset.versions[-4].reify.serial_number == @asset.versions[-3].reify.serial_number %>
				<li>Serial number changed from <%= @asset.versions[-4].reify.serial_number %> to <%= @asset.versions[-3].reify.serial_number %></li>
			<% end %>
			<% unless @asset.versions[-4].reify.mac_address1 == @asset.versions[-3].reify.mac_address1 %>
				<li>Mac Address (Ethernet 1) from <%= @asset.versions[-4].reify.mac_address1 %> to <%= @asset.versions[-3].reify.mac_address1 %></li>
			<% end %>
			<% unless @asset.versions[-4].reify.mac_address2 == @asset.versions[-3].reify.mac_address2 %>
				<li>Mac Address (Ethernet 2) from <%= @asset.versions[-4].reify.mac_address2 %> to <%= @asset.versions[-3].reify.mac_address2 %></li>
			<% end %>
			<% unless @asset.versions[-4].reify.mac_address3 == @asset.versions[-3].reify.mac_address3 %>
				<li>Mac Address (Wi-Fi) from <%= @asset.versions[-4].reify.mac_address3 %> to <%= @asset.versions[-3].reify.mac_address3 %></li>
			<% end %>
		</ul>
		<% end %>
		
		<% unless @asset.versions[-5].nil? or @asset.versions[-5].object.nil? %>
		Asset Modified by <%= @asset.versions[-5].whodunnit %> on <%= @asset.versions[-5].created_at %>
		<ul>
			<% unless @asset.versions[-5].reify.location == @asset.versions[-4].reify.location %>
				<li>Asset relocated from <%= @asset.versions[-5].reify.location %> to <%= @asset.versions[-4].reify.location %></li>
			<% end %>
			<% unless @asset.versions[-5].reify.user.full_name == @asset.versions[-4].reify.user.full_name %>
				<li>Asset reassigned from <%= @asset.versions[-5].reify.user.full_name %> to <%= @asset.versions[-4].reify.user.full_name %></li>
			<% end %>
			<% unless @asset.versions[-5].reify.asset_name == @asset.versions[-4].reify.asset_name %>
				<li>Asset renamed from <%= @asset.versions[-5].reify.asset_name %> to <%= @asset.versions[-4].reify.asset_name %></li>
			<% end %>
			<% unless @asset.versions[-5].reify.serial_number == @asset.versions[-4].reify.serial_number %>
				<li>Serial number changed from <%= @asset.versions[-5].reify.serial_number %> to <%= @asset.versions[-4].reify.serial_number %></li>
			<% end %>
			<% unless @asset.versions[-5].reify.mac_address1 == @asset.versions[-4].reify.mac_address1 %>
				<li>Mac Address (Ethernet 1) from <%= @asset.versions[-5].reify.mac_address1 %> to <%= @asset.versions[-4].reify.mac_address1 %></li>
			<% end %>
			<% unless @asset.versions[-5].reify.mac_address2 == @asset.versions[-4].reify.mac_address2 %>
				<li>Mac Address (Ethernet 2) from <%= @asset.versions[-5].reify.mac_address2 %> to <%= @asset.versions[-4].reify.mac_address2 %></li>
			<% end %>
			<% unless @asset.versions[-5].reify.mac_address3 == @asset.versions[-4].reify.mac_address3 %>
				<li>Mac Address (Wi-Fi) from <%= @asset.versions[-5].reify.mac_address3 %> to <%= @asset.versions[-4].reify.mac_address3 %></li>
			<% end %>
		</ul>
		<% end %>
		
		<% unless @asset.versions[-6].nil? or @asset.versions[-6].object.nil? %>
		Asset Modified by <%= @asset.versions[-6].whodunnit %> on <%= @asset.versions[-6].created_at %>
		<ul>
			<% unless @asset.versions[-6].reify.location == @asset.versions[-5].reify.location %>
				<li>Asset relocated from <%= @asset.versions[-6].reify.location %> to <%= @asset.versions[-5].reify.location %></li>
			<% end %>
			<% unless @asset.versions[-6].reify.user.full_name == @asset.versions[-5].reify.user.full_name %>
				<li>Asset reassigned from <%= @asset.versions[-6].reify.user.full_name %> to <%= @asset.versions[-5].reify.user.full_name %></li>
			<% end %>
			<% unless @asset.versions[-6].reify.asset_name == @asset.versions[-5].reify.asset_name %>
				<li>Asset renamed from <%= @asset.versions[-6].reify.asset_name %> to <%= @asset.versions[-5].reify.asset_name %></li>
			<% end %>
			<% unless @asset.versions[-6].reify.serial_number == @asset.versions[-5].reify.serial_number %>
				<li>Serial number changed from <%= @asset.versions[-6].reify.serial_number %> to <%= @asset.versions[-5].reify.serial_number %></li>
			<% end %>
			<% unless @asset.versions[-6].reify.mac_address1 == @asset.versions[-5].reify.mac_address1 %>
				<li>Mac Address (Ethernet 1) from <%= @asset.versions[-6].reify.mac_address1 %> to <%= @asset.versions[-5].reify.mac_address1 %></li>
			<% end %>
			<% unless @asset.versions[-6].reify.mac_address2 == @asset.versions[-5].reify.mac_address2 %>
				<li>Mac Address (Ethernet 2) from <%= @asset.versions[-6].reify.mac_address2 %> to <%= @asset.versions[-5].reify.mac_address2 %></li>
			<% end %>
			<% unless @asset.versions[-6].reify.mac_address3 == @asset.versions[-5].reify.mac_address3 %>
				<li>Mac Address (Wi-Fi) from <%= @asset.versions[-6].reify.mac_address3 %> to <%= @asset.versions[-5].reify.mac_address3 %></li>
			<% end %>
		</ul>
		<% end %>
		
		<% unless @asset.versions[-7].nil? or @asset.versions[-7].object.nil? %>
		Asset Modified by <%= @asset.versions[-7].whodunnit %> on <%= @asset.versions[-7].created_at %>
		<ul>
			<% unless @asset.versions[-7].reify.location == @asset.versions[-6].reify.location %>
				<li>Asset relocated from <%= @asset.versions[-7].reify.location %> to <%= @asset.versions[-6].reify.location %></li>
			<% end %>
			<% unless @asset.versions[-7].reify.user.full_name == @asset.versions[-6].reify.user.full_name %>
				<li>Asset reassigned from <%= @asset.versions[-7].reify.user.full_name %> to <%= @asset.versions[-6].reify.user.full_name %></li>
			<% end %>
			<% unless @asset.versions[-7].reify.asset_name == @asset.versions[-6].reify.asset_name %>
				<li>Asset renamed from <%= @asset.versions[-7].reify.asset_name %> to <%= @asset.versions[-6].reify.asset_name %></li>
			<% end %>
			<% unless @asset.versions[-7].reify.serial_number == @asset.versions[-6].reify.serial_number %>
				<li>Serial number changed from <%= @asset.versions[-7].reify.serial_number %> to <%= @asset.versions[-6].reify.serial_number %></li>
			<% end %>
			<% unless @asset.versions[-7].reify.mac_address1 == @asset.versions[-6].reify.mac_address1 %>
				<li>Mac Address (Ethernet 1) from <%= @asset.versions[-7].reify.mac_address1 %> to <%= @asset.versions[-6].reify.mac_address1 %></li>
			<% end %>
			<% unless @asset.versions[-7].reify.mac_address2 == @asset.versions[-6].reify.mac_address2 %>
				<li>Mac Address (Ethernet 2) from <%= @asset.versions[-7].reify.mac_address2 %> to <%= @asset.versions[-6].reify.mac_address2 %></li>
			<% end %>
			<% unless @asset.versions[-7].reify.mac_address3 == @asset.versions[-6].reify.mac_address3 %>
				<li>Mac Address (Wi-Fi) from <%= @asset.versions[-7].reify.mac_address3 %> to <%= @asset.versions[-6].reify.mac_address3 %></li>
			<% end %>
		</ul>
		<% end %>
		
		<% unless @asset.versions[-8].nil? or @asset.versions[-8].object.nil? %>
		Asset Modified by <%= @asset.versions[-8].whodunnit %> on <%= @asset.versions[-8].created_at %>
		<ul>
			<% unless @asset.versions[-8].reify.location == @asset.versions[-7].reify.location %>
				<li>Asset relocated from <%= @asset.versions[-8].reify.location %> to <%= @asset.versions[-7].reify.location %></li>
			<% end %>
			<% unless @asset.versions[-8].reify.user.full_name == @asset.versions[-7].reify.user.full_name %>
				<li>Asset reassigned from <%= @asset.versions[-8].reify.user.full_name %> to <%= @asset.versions[-7].reify.user.full_name %></li>
			<% end %>
			<% unless @asset.versions[-8].reify.asset_name == @asset.versions[-7].reify.asset_name %>
				<li>Asset renamed from <%= @asset.versions[-8].reify.asset_name %> to <%= @asset.versions[-7].reify.asset_name %></li>
			<% end %>
			<% unless @asset.versions[-8].reify.serial_number == @asset.versions[-7].reify.serial_number %>
				<li>Serial number changed from <%= @asset.versions[-8].reify.serial_number %> to <%= @asset.versions[-7].reify.serial_number %></li>
			<% end %>
			<% unless @asset.versions[-8].reify.mac_address1 == @asset.versions[-7].reify.mac_address1 %>
				<li>Mac Address (Ethernet 1) from <%= @asset.versions[-8].reify.mac_address1 %> to <%= @asset.versions[-7].reify.mac_address1 %></li>
			<% end %>
			<% unless @asset.versions[-8].reify.mac_address2 == @asset.versions[-7].reify.mac_address2 %>
				<li>Mac Address (Ethernet 2) from <%= @asset.versions[-8].reify.mac_address2 %> to <%= @asset.versions[-7].reify.mac_address2 %></li>
			<% end %>
			<% unless @asset.versions[-8].reify.mac_address3 == @asset.versions[-7].reify.mac_address3 %>
				<li>Mac Address (Wi-Fi) from <%= @asset.versions[-8].reify.mac_address3 %> to <%= @asset.versions[-7].reify.mac_address3 %></li>
			<% end %>
		</ul>
		<% end %>