<!DOCTYPE html>
<html>
<head>
  <title>SpeedingTicketNew</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<buton type="button" class="navbar-toggle" data-togle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</buton>
			<% if current_technician.nil? %>
				<%= link_to "TinRooster 1.0", login_url, :class => 'navbar-brand' %>
			<% else %>
				<%= link_to "TinRooster 1.0", root_url, :class => 'navbar-brand' %>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><%= link_to '<span class="glyphicon glyphicon-dashboard"></span> Dashboard'.html_safe, root_url %></li>
				<li><%= link_to '<span class="glyphicon glyphicon-user"></span> Users'.html_safe, users_url %></li>
				<li><%= link_to '<span class="glyphicon glyphicon-hdd"></span> Assets'.html_safe, assets_url %></li>
				<li><%= link_to '<span class="glyphicon glyphicon-wrench"></span> Technicians'.html_safe, technicians_url %></li>
				<li><%= link_to '<span class="glyphicon glyphicon-credit-card"></span> Purchases'.html_safe, purchases_url %></li>
				<li><%= link_to '<span class="glyphicon glyphicon-list"></span> Wiki'.html_safe, root_url %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag current_technician.avatar.url(:thumb), :class => 'img-circle border' %> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to 'Account', technician_path(@current_technician.id) %></li>
						<li><%= link_to 'Logout', logout_path %></li>
					</ul>
				</li>
			</ul>
			<% end %>
		</div>
	</div>
</div>

<div class="container">

<div class="alert-message" >
    <% if flash[:notice] %>
    	<div class="alert alert-info">
        	<a class="close" data-dismiss="alert">×</a>
			<stong><%= flash[:notice] %></strong>
		</div>
    <% elsif flash[:alert] %>
    	<div class="alert alert-warning">
        	<a class="close" data-dismiss="alert">×</a>
			<stong><%= flash[:alert] %></strong>
        </div>
    <% end %>
</div>


<%= yield %>

<footer>
	<hr>
    <p><abbr title="Tin Rooster 1.0">College of Communication Arts & Sciences</abbr> &copy; 2014</p>
</footer>

</div>

</body>

<script>
	$(".alert").alert();
	window.setTimeout(function() { $(".alert").alert('close'); }, 2000);
</script>


</html>
